{% extends 'base.html.twig' %}

{% block body %}
    <h1>Votre collection</h1>
    <div class="boite">


    {% include 'Includes/indexBody.html.twig' %}

        <a href="{{ path('create') }}">Ajouter un objet</a><br/><br/>
<table>
    <tbody>

    <tr><th></th><th>Nom</th><th>Artiste</th><th>Type</th><th>En savoir plus</th><th></th></tr>
    {% for sheet in sheets %}

    <tr><th>{{ sheet.name }} par {{ sheet.artist }} ( {{ sheet.type }} )</th>
        <td>{{ sheet.name }}</td>
        <td>{{ sheet.artist }}</td>
        <td>{{ sheet.type }}</td>
        <td><a href="{{ path('show', {'id' : sheet.id }) }}">Détails</a> </td>
        <td><a href="{{ path('delete', {'id': sheet.id, 'message': true} ) }}">X</a></td>
    </tr>

    {% endfor %}   </tbody>
                     </table>
    </div>
{% endblock %}